manifest {
    author = 'Trevor F. Freeman; Ryan D. Kuster'
    defaultBranch = 'main'
    recurseSubmodules = true
    description = 'A Nextflow pipeline for single cell RNA-seq analysis built on utia-gc/ngs.'
    mainScript = 'main.nf'
    name = 'utia-gc/scrnaseq'
    nextflowVersion = '!>=25.10'
    version = 'v0.1.0'
}

outputDir = "${launchDir}"

timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm')

params {
    /*
    ---------------------------------------------------------------------
        Input/output options
    ---------------------------------------------------------------------
    */
    // input options
    projectTitle = null
    exploratoryTag = null
    samplesheet = null
    sampleList = null

    // reference options
    genome = null
    annotations = null

    // publish options
    publishDirData = "${launchDir}/data"
    publishDirReports = "${launchDir}/reports"
    publishMode = 'copy'

    /*
    ---------------------------------------------------------------------
        Mapping and quantification parameters
    ---------------------------------------------------------------------
    */
    mapQuantTool = 'cellranger'
}


/*
---------------------------------------------------------------------
    Import config files
---------------------------------------------------------------------
*/
includeConfig 'conf/args.config'
includeConfig 'conf/containers.config'
includeConfig 'conf/plugins.config'

profiles {
    standard {
        includeConfig 'conf/resources.config'
        includeConfig 'conf/reporting.config'
    }

    condo_trowan1 {
        includeConfig 'conf/isaac.config'
        includeConfig 'conf/reporting.config'
    }

    exploratory {
        params {
            exploratoryTag = 'exploratory'
            publishDirData = "${launchDir}/exploratory/${timestamp}_${params.projectTitle}_${params.exploratoryTag}/data"
            publishDirReports = "${launchDir}/exploratory/${timestamp}_${params.projectTitle}_${params.exploratoryTag}/reports"
            publishMode = 'symlink'
        }
        resume = true
        includeConfig 'conf/reporting.config'
    }

    nf_test {
        includeConfig 'conf/nf_test.config'
    }

    setup {
        params {
            readsDest = 'data/reads/raw'
            samplesheet = 'config/samplesheets/samplesheet.csv'
            decode = 'config/samplesheets/sample-name-decode.csv'
            fastqCopyMode = 'copy'
            overwrite = false
            excludeUndetermined = true
        }

        // Turn off report creation
        dag.enabled = false
        report.enabled = false
        timeline.enabled = false
        trace.enabled = false
    }
}

includeConfig 'conf/stability-temp-workarounds.config'
