profiles {
    nf_test {
        params {
            projectTitle  = 'ngs_nf-test'
            samplesheet   = "${projectDir}/tests/data/samplesheets/mixed-ends_lanes.csv"
            genome        = "${projectDir}/tests/data/references/R64-1-1/genome_I.fa.gz"
            annotations   = "${projectDir}/tests/data/references/R64-1-1/annotations_I.gtf.gz"

            // max resources
            maxCpus   = 2
            maxMemory = '4.GB'
            maxTime   = '15.m'
        }
        
        singularity {
            enabled = true
            cacheDir = "${SCRATCHDIR}/singularity/"
            autoMounts = true
        }
    }
}
