profiles {
    nf_test {
        params {
            projectTitle = 'scrnaseq_nf-test'
            samplesheet  = 'https://github.com/utia-gc/ngs-test/raw/scrnaseq/data/samplesheets/samplesheet_L001_L002.csv'
            genome       = 'https://github.com/utia-gc/ngs-test/raw/scrnaseq/data/references/GRCh38.p14_genomic_NC_000021.9.fna.gz'
            annotations  = 'https://github.com/utia-gc/ngs-test/raw/scrnaseq/data/references/GRCh38.p14_genomic_NC_000021.9.gtf.gz'

            // max resources
            maxCpus   = 2
            maxMemory = '4.GB'
            maxTime   = '15.m'
        }
        
        singularity {
            enabled = true
            cacheDir = "${SCRATCHDIR}/singularity/"
            autoMounts = true
        }

        process {
            withLabel: 'big_mem' {
                memory = 3.GB
            }
        }
    }
}
