profiles {
    nf_test {
        params {
            projectTitle = 'scrnaseq_nf-test'
            samplesheet  = "${projectDir}/tests/data/data/samplesheets/10x-chromium-v3.csv"
            genome       = "${projectDir}/tests/data/data/references/GRCh38.p14_genomic_NC_000021.9.fna.gz"
            annotations  = "${projectDir}/tests/data/data/references/GRCh38.p14_genomic_NC_000021.9.gtf.gz"

            // tool selection
            mapQuantTool = 'cellranger'

            // max resources
            maxCpus   = 2
            maxMemory = '4.GB'
            maxTime   = '15.m'
        }

        singularity {
            enabled = true
            cacheDir = "${SCRATCHDIR}/singularity/"
            autoMounts = true
        }

        process {
            withLabel: 'big_mem' {
                memory = 3.GB
            }
        }
    }
}
