dag {
    enabled   = true
    file      = "${params.publishDirReports}/.pipeline_execution_stats/${timestamp}_dag.html"
    overwrite = true
}

report {
    enabled   = true
    file      = "${params.publishDirReports}/.pipeline_execution_stats/${timestamp}_report.html"
    overwrite = true
}

timeline{
    enabled   = true
    file      = "${params.publishDirReports}/.pipeline_execution_stats/${timestamp}_timeline.html"
    overwrite = true
}

trace {
    enabled   = true
    file      = "${params.publishDirReports}/.pipeline_execution_stats/${timestamp}_trace.txt"
    overwrite = true
}
