process {
    /*
    Set what happens if a process fails
    */
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'finish' }
    maxRetries = 1

    /*
    Resource request configs
    */
    resourceLimits = [
        cpus:   12,
        memory: 32.GB,
        time:   48.hour
    ]

    /*
    Set CPUs
    */
    // default number CPUs
    cpus = { 1 * task.attempt }

    // dynamic numbers CPUs
    withLabel: def_cpu  { cpus = {  1 * task.attempt } }
    withLabel: med_cpu  { cpus = {  2 * task.attempt } }
    withLabel: big_cpu  { cpus = {  4 * task.attempt } }
    withLabel: huge_cpu { cpus = {  8 * task.attempt } }
    withLabel: sup_cpu  { cpus = { 10 * task.attempt } }
    withLabel: max_cpu  { cpus = { 12 * task.attempt } }

    /*
    Set memory
    */
    // default memory
    memory = { 4.GB * task.attempt }

    // dynamic levels memory
    withLabel: lil_mem  { memory = {  2.GB * task.attempt } }
    withLabel: def_mem  { memory = {  4.GB * task.attempt } }
    withLabel: med_mem  { memory = {  8.GB * task.attempt } }
    withLabel: big_mem  { memory = { 16.GB * task.attempt } }
    withLabel: huge_mem { memory = { 32.GB * task.attempt } }
    withLabel: sup_mem  { memory = { 32.GB * task.attempt } }
    withLabel: max_mem  { memory = { 32.GB * task.attempt } }

    /*
    Set time
    */
    // default time
    time = { 1.hour * task.attempt }

    // dynamic levels time
    withLabel: lil_time  { time = { 30.min  * task.attempt } }
    withLabel: def_time  { time = {  1.hour * task.attempt } }
    withLabel: med_time  { time = {  4.hour * task.attempt } }
    withLabel: big_time  { time = { 16.hour * task.attempt } }
    withLabel: huge_time { time = { 24.hour * task.attempt } }
    withLabel: sup_time  { time = { 32.hour * task.attempt } }
    withLabel: max_time  { time = { 48.hour * task.attempt } }
}
