/**
 * Nextflow configuration of temporary workarounds to improve pipeline stability.
 *
 * @see https://github.com/utia-gc/ngs/issues/154
 */
process {
	// @see https://github.com/utia-gc/ngs/issues/149
	// if FastQC keeps failing with that annoying SIGBUS error (code 134) retry it once, otherwise just keep running the pipeline
	withName: 'fastqc' {
		errorStrategy = { task.exitStatus in [134, *137..140] ? 'retry' : 'ignore' }
		maxRetries = 1
	}
}


// throw non-zero exit code if any failed tasks are ignored, e.g. FastQC
workflow {
	failOnIgnore = true
}
